body {
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
	margin: 0 auto !important;
	float: none !important;
  overflow-x: hidden;
}

/* Style the links inside the navigation bar */
.topnav {
  background-color: transparent;
  overflow: hidden;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

img.logo {
  width:50px;
  height: 50px;
}

.topnav a {
  float: center;
  color: #fff;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Karla', sans-serif;
}

a.top {
  text-decoration: none;
  color: #000;
  font-family: 'Karla', sans-serif;
  font-weight: 600;

}

img {
  margin-top: 5%;
  margin-bottom: 5%;

}

img.image {
  max-width: 700px;
  margin: 0 auto !important;
  float: none !important;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

iframe {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.header-body {
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
}

img.arrow {
  max-width: 5px;
}

.content-body {
  max-width: 700px;
  margin: 0 auto !important;
  float: none !important;
  display: block;
}

.flow-img {
  max-width: 700px;
  margin: 0 auto !important;
  float: none !important;
  display: block;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #FFC700;
  width: 0%;
}

.gray-highlight-section {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #F8F8F8;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.insights-highlight-section {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #fff;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#onboarding-bg {
  background-image: url("assets/onboarding-case2/main-image.png");
}

/* TEXT STYLES */
/* Case study main title */
h1 {
  font-family: 'Playfair Display';
  font-size: 50px;
  font-weight: bold;
}

/* Left heading and numbers */
h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  font-family: 'Playfair Display';
  margin-bottom: 5%;
}

h2.case-content {
  font-size: 30px;
  margin-top: 5%;
}

h3 {
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  margin-top: 15%;
}

/* Subheadings */
h4 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 40px;
}

h4.case-content {
  margin-top: 5%;
  margin-bottom: 5%;
}

h5 {
  font-size: 20px;
  line-height: 28px;
  margin-top: 15%;
}

h5.case-content {
  margin-top:0%;
}

/* Regular text */
h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 5%;
}

h6.case-content {
  margin-top: 10%;
}

button {
  margin-top: 20%;
  border: none;
  text-decoration: none;
  font-size:18px;
  padding: 0;
}

a {
  text-decoration: none;
  color: #C7C7C7;
  font-family: 'Karla', sans-serif;
  font-weight: 700;

}

img {
  width: 100%;
  height: auto;
}

#mainimage
{
  margin-bottom: 6%;
}

.case-content {
  margin-top: 12%;
}

.research-content {
  margin-top:5%;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

/* Case study background images */
.onboarding-bg {
/* The image used */
background-image: url("assets/onboarding-case2/main-image.png");

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position:center;
background-repeat: no-repeat;
background-size: cover;
margin-bottom: 6%;

}

.redesign-bg {
/* The image used */
background-image: url("assets/homeredesign-case/mainimage.png");

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position:center;
background-repeat: no-repeat;
background-size: cover;
margin-bottom: 6%;

}

.container {
  position: relative;
  height: 800px;
}
