html {
  font-family: 'Karla', sans-serif;
}

.js-fade-slide-entry {
  opacity: 0; /* used for animated fade-in */
  transform: translateY(15%); /* used for animated slide-up*/
  transition: opacity 1s ease-in-out, transform 1s ease-in-out
}

a:hover {
  text-decoration: none;
  color:black;
}

a {
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

body {
  background-color: #FFF5EF;
  float: none !important;
  overflow-x: hidden;
  display: block;
  height: 100%;
  margin-bottom: 0;
}

.container {
  margin-left: 2%;
  margin-top: 0;
  margin-right: 2%;
  max-width: 1440px;
}

.container2 {
  margin-left: 2%;
  margin-top: 0;
  padding-bottom: 4%;
  margin-right: 6%;
  max-width: 1440px;
  text-align: left;
}


@font-face {
font-family: "Trap";
src: url("https://judyzhong.me/css/fonts/trap-regular-webfont.woff") format("woff"),
}

@font-face {
font-family: "Bright Melody Personal Use Only";
/*src: url("https://yoursite.com/css/fonts/CustomFont.eot");*/
src: url("https://judyzhong.me/fonts/bright_melody_display_typeface-webfont.woff") format("woff"),
/*url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),
url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");*/
}

.bg {
/* The image used */
background: url("assets/bgimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 100%;
  width: 100%;
  background-attachment: fixed;

/* Center and scale the image nicely */
background-position:center;
background-repeat: no-repeat;
background-size: cover;
}

.btn {
  padding: 12px 16px;
  font-size: 100px;
        }



/* Case study title */
h1 {
  font-size: 150px;
  line-height: 100%;
  text-align: left;
  color: black;
  font-family: 'Trap', Arial, sans-serif;
  letter-spacing: -6px;
  padding-top: 3%;
  width: 100%;
/*  font-size: 18vw;*/
}

h2 {
  font-size: 40px;
  font-family: 'Trap', Black, sans-serif;
  text-align: center;
  padding-top: 50px;
  color: black;
  text-align: left;
  letter-spacing: -2px;
  width: 100%;
 /* font-size: 8vw;
  letter-spacing: 0vw;*/
}

h3 {
  margin-top: 5%;
  font-size: 50px;
  font-family: 'Bright Melody Personal Use Only', Arial, serif;
  color: black;
  text-align: left;
}

h4 {
  padding-top: 10%;
  margin-inline: 3%;
  font-size: 150px;
  text-align: left;
  color: black;
  font-family: 'Bright Melody Personal Use Only', Arial, serif;
}

h5 {
  font-size: 32px;
  font-family: 'Trap', Black, sans-serif;
}

p {
  font-size: 24px;
  line-height: 120%;
  font-family: 'Trap', Black, sans-serif;
  width: 70%;
  letter-spacing: -1px;

}

.text-hover {
    width: 100%; /* Specify the width */
    background-size: cover; /* Cover the entire area of the element */
    transition: background-image 0.5s ease-in-out; /* Smooth transition */
    color: black;
    border: 0;
    text-align: left;
    background-color: #FFF4EA;
}

.text-hover:hover {
    background-image: url('assets/hoverimages/duo_on_hover.png');
/*    float:right;
    clear: right;*/
/*    width: 1000px;*/
    height: 500px;
/*    border: 0;*/
    background-color: transparent;
    background-position: right;
    z-index: 20000;
    position: fixed;
    left: 100px;
    top: 100px;

}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-size: 100px;
}

.tooltip .tooltiptext {
  visibility: visible;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

hr {
  background-color: black;
  height: 1.5px;
/*  width: 150%;*/
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

footer {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 80px;
}

footer a {
  display:inline-block;
  width:40px;
  margin-bottom: 100px;
  padding: 5px;
}


.projects a {
  color: #F58F00;
  font-weight: 700;
  text-align: center;
  display: inline-block;
}

button {
  font-size: 100px;
  font-family: 'Trap', Arial, sans-serif;
  color: black;
  background-color: #FFF4EA;
  letter-spacing: -6px;
  line height: 50em;
  padding-top: 18px;
/*  padding-block: 0px;*/
  padding-inline: 2%;
  margin: 0px;
  text-align: left;
  border: 0;
  transition: transform 0.3s ease;
  display: block;
  width: 100%;
  text-align: left;
  line height: 50px;
}

.btn span.icon {
    background: url(imgs/icon.png) no-repeat;
    float: left;
    width: 10px;
    height: 40px;
}

.img {
  width: 20px;
  height: 20px;
}

a.contact {
  color: black;
  letter-spacing: -1px;
}
/*footer {
  height: 120px;
}

.projects img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

#featured {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

#tedx {
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}*/

/*.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.logocenter {
  /* display: block; */
/*  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  vertical-align: middle;
}*/

mark {
  padding: 0;
  color: black;
  -webkit-animation: 1s highlight 1.5s 1 normal forwards;
          animation: 1s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, black 50%, rgba(255, 244, 234, 0) 50%);
  background-size: 200% 50%;
  background-position: 100% 0;

  animation-delay: 1s; 

}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }

  0% {
    color: black;
  }

  95% {
    color: #FFF4EA;
  }

  100% {
    color: #FFF4EA;    
  }
}

.landing {
  position: relative;
  width: 100%;
}


/* Create two equal columns that sits next to each other */
/*.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}*/
